<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세보기</title>
</head>
<body>
<h1>게시글 상세보기</h1>
<h2 th:text="${post.title}">제목</h2>
<p th:text="${post.content}">내용</p>

<a th:href="@{/posts/edit/{id}(id=${post.id})}">수정</a>
<form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post" style="display:inline;">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">삭제</button>
</form>
<br>
<a href="/">목록으로 돌아가기</a>
</body>
</html>
