<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">SHOW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"
                    sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/item/new"></a>
                </li>
                <li class="nav-item"
                    sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/items"></a>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/cart">예매이력</a>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/members/info">마이페이지</a>
                </li>
                <li class="nav-item"
                    sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/members/login">로그인</a>
                </li>
                <!-- 일반 로그아웃 링크는 로그인한 사용자에게만 보임 -->
                <li class="nav-item" sec:authorize="isAuthenticated() and !hasAnyAuthority('ROLE_KAKAO')">
                    <a class="nav-link" href="/members/logout">로그아웃</a>
                </li>
                <!-- 카카오 로그아웃 링크는 카카오 로그인한 사용자에게만 보임 -->
                <li class="nav-item" sec:authorize="isAuthenticated() and hasAnyAuthority('ROLE_KAKAO')">
                    <a class="nav-link" href="https://kauth.kakao.com/oauth/logout?client_id=f48ecc65ecda977f9898414bd97c69ce&logout_redirect_uri=http://localhost:8282/kakao/logout">카카오 로그아웃</a>
                </li>
            </ul>

        </div>
    </nav>
</div>
</html>