/* 전체 푸터 스타일 */
.footer {
    background-color: #fefaee; /* 배경색 */
    display: flex;
    justify-content: space-between; /* 좌우 요소 배치 */
    align-items: center;
    font-family: 'Roboto', sans-serif; /* 구글 폰트 적용 */
    width: 100%;
    height: 60px;
    padding-top: 10px;
    text-align: left;
    margin-top: auto; /* 푸터가 페이지 하단에 고정되도록 설정 */
}


/*!* 푸터 로고 스타일 *!*/
/*.footer-logo {*/
/*    !*background-image: url('/images/logo.png'); !* 로고 이미지 경로 설정 *!*!*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*    width: 150px;*/
/*    height: 50px;*/
/*}*/

/* 푸터 설명 텍스트 스타일 */
.footer-description {
    color: #615674; /* 글자색 */
    font-size: 14px;
    margin-left: 20px;
    text-align: center;
}

/* 소셜 미디어 아이콘 스타일 */
.social-icons a {
    color: #615674; /* 소셜 아이콘 색상 */
    margin-left: 15px;
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #9b8bba; /* 아이콘에 마우스 올렸을 때 색상 변화 */
}

.social-icons {
    margin-right: 20px;
}




