/* 전체 네비게이션 배경과 글자 색상 설정 */

.header {
    background-color: #fefaee;
}

.navbar {
    background-color: #fefaee; /* 배경색 */
}

.navbar .nav-link {
    color: #615674; /* 글자색 */
}

.navbar .nav-link:hover {
    color: #9b8bba; /* 링크에 마우스를 올렸을 때 */
}

/* 로고와 내비게이션 간격 조정 */
.navbar-brand {
    padding-left: 40px; /* 로고와 메뉴 사이의 간격 */
}

/* 메뉴 아이템 간 간격 조정 */
.navbar-nav .nav-item .nav-link {
    padding-right: 15px; /* 메뉴 간 간격 */
}

/* 햄버거 버튼 크기 및 아이콘 조정 */
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    border-radius: 0.25rem;
}

/* 현재 활성화된 페이지 강조 */
.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
    border-bottom: 1px solid #615674; /* 현재 페이지 하단에 강조선 추가 */
}

/* 로고 이미지 크기*/
.logo_img{
    width: 100%;
    height: 50px;

}

/* 작은 화면에서 반응형 중앙 정렬 */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-brand {
        margin: auto;
    }
}
