html, body {
    height: 100%; /* 페이지 전체 높이 설정 */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; /* 콘텐츠가 세로로 쌓이도록 설정 */
    min-height: 100vh; /* 뷰포트 전체 높이를 차지하도록 설정 */
}

.content {
    flex: 1; /* 남은 공간을 차지하도록 설정 */
    margin: 50px 200px 100px 200px; /* 원하는 마진 적용 */
}

.footer {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 20px 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* 푸터가 페이지 하단에 고정되도록 설정 */
}

/* 푸터 css 설정 */

.footer-logo, .footer-description {
    margin-left: 20px;
}

.social-icons {
    margin-right: 20px;
}

.social-icons a {
    margin: 0 15px;
    color: black;
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #00bfa5;
}






