@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html, body {
    height: 100%; /* 페이지 전체 높이 설정 */
    margin: 0;
    padding: 0;
    font-family: "GmarketSansMedium";
}

body {
    min-height: 100vh; /* 전체 화면 높이 확보 */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* 남은 공간을 차지하도록 설정 */
    margin: 50px 200px 100px 200px; /* 원하는 마진 적용 */
}

.admin-content {
    flex: 1;
    margin: 50px 50px 50px 0;
}







