<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="css">
  <style>
    #infoheader > a {
      color: white;
    }
    .fs-4 {
      color: white;
    }
    tr > th {
      color: white;
    }
    tr > td {
      color: white;
    }
    #board :hover {
      cursor: pointer;
    }

    .update-rating{
      display: inline-block;
      direction: rtl;
      border:0;
    }
    .update-rating legend{
      text-align: right;
    }
    .update-rating input[type=radio]{
      display: none;
    }
    .update-rating label{
      font-size: 1em;
      color: transparent;
      text-shadow: 0 0 0 #f0f0f0;
    }
    .update-rating label:hover{
      text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
    }
    .update-rating label:hover ~ label{
      text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
    }
    .update-rating input[type=radio]:checked ~ label{
      text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
    }
    .updateContent {
      width: 100%;
      height: 150px;
      padding: 10px;
      box-sizing: border-box;
      border: solid 1.5px #D3D3D3;
      border-radius: 5px;
      font-size: 10px;
      resize: none;
    }

  </style>
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    function getBoard(no){
      location.href = '/board/boardDtl/' + no;
    }
    function alertCancel(){
      alert("즐겨찾기가 취소됐습니다");
      $('form[name="cancelFavorite"]').submit();
      // document.cancelFavorite.submit();
    }

    // 별점 생성 함수
    function generateStars(rating) {
      let starsHtml = '';
      for (let i = 1; i <= 5; i++) {
        if (i <= rating) {
          starsHtml += '<span style="color: gold;">★</span>'; // gold 색상
        } else {
          starsHtml += '<span style="color: lightgray;">★</span>'; // lightgray 색상
        }
      }
      return starsHtml;
    }

    //후기 수정
    function updateReview(button){
      const reviewId = button.getAttribute('data-id');
      const trElement = document.getElementById('review-' + reviewId);
      const mt20id = trElement.dataset.mt20id;

      //기존 후기 태그 찾기
      const reviewRatingElement = document.getElementById('rating-' + reviewId);
      const reviewContentElement = document.getElementById('content-' + reviewId);
      if(!reviewRatingElement || !reviewContentElement){
        console.error("후기를 찾을 수 없습니다");
        return;
      }

      // 수정된 내용 - 선택된 별점 가져오기
      const newRatingElement = document.querySelector('input[name="update-' + reviewId + '"]:checked');
      const newRating = newRatingElement.value;
      console.log(newRatingElement);
      if (!newRatingElement) {
        alert("별점을 수정해 주세요."); // 사용자에게 알림
        return; // 함수 종료
      }

      const newContent = document.getElementById('update-content-' + reviewId).value;
      if (!newContent) {
        alert("내용을 수정해 주세요");
        return;
      }

      const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
      const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

      $.ajax({
        url: `/show/${mt20id}/review/${reviewId}`, // 수정할 리뷰의 URL
        type: 'POST', // 수정 요청
        headers: {
          [csrfHeader]: csrfToken
        },
        data: JSON.stringify({
          rating: newRating,
          content: newContent
        }),
        contentType: 'application/json',
        success: function() {
          // 별점 업데이트
          reviewRatingElement.innerHTML = generateStars(newRating);
          // 내용 업데이트
          reviewContentElement.textContent = newContent;
          alert("후기가 수정되었습니다.");
          //수정 토글 닫기
          $('.multi-collapse-' + reviewId).collapse('hide');
        },
        error: function(xhr) {
          console.error("Error:", xhr);
          alert("수정 중 오류가 발생했습니다: " + xhr.statusText);
        }
      });
    }

    //수정취소
    function resetUpdate(button){
      const reviewId = button.getAttribute('data-id');
      $('.multi-collapse-' + reviewId).collapse('hide');
    }

    //후기 삭제
    function deleteReview(button){
      const reviewId = button.getAttribute('data-id');
      const trElement = document.getElementById('review-' + reviewId);
      const mt20id = trElement.dataset.mt20id;
      const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
      const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

      if(confirm('후기를 삭제하시겠습니까?')){
        $.ajax({
          url: `/show/${mt20id}/review/${reviewId}`,
          type: 'DELETE',
          headers: {
            [csrfHeader]: csrfToken // CSRF 토큰 추가
          },
          success: function (){
            $(`#review-${reviewId}`).remove(); // jQuery를 사용하여 해당 리뷰 삭제
            alert("삭제되었습니다");
          },
          error: function (xhr) {
            console.error("Error:", xhr);
            alert("remove error: " + xhr.statusText); // 에러 메시지 표시
          }
        });
      }

    }

    $(document).ready(function (){

      //검색 버튼 클릭 이벤트
      $('#searchBtn').on("click", function (e){
        e.preventDefault();
        page(0);
      })

      // 정렬 버튼 클릭 이벤트
      $('.sortBtn').on("click", function (e){
        e.preventDefault();
        const sort = $(this).data('sort');
        page(0, sort);
      })
    })
    function page(page, sort='DEFAULT'){
      const searchBy = $('#searchBy').val();
      const searchQuery = $('#searchQuery').val();
      location.href = "/reviews/" + page +
              "?searchBy=" + searchBy +
              "&searchQuery=" + searchQuery +
              "&sort=" + sort;
    }
  </script>
</th:block>

<div layout:fragment="content">
  <div th:fragment="body" class="flex-shrink-0 p-3" style="width: 280px;" id="infoheader">
    <a href="/members/info"
       class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-2 fw-semibold">마이페이지</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <a href="/members/myBoards"
           class="fs-4 ms-3 btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">
          내가 쓴 글
        </a>
      </li>
      <li class="mb-1">
        <a href="/orders"
           class="fs-4 ms-3 btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">
          예매이력
        </a>
      </li>
      <li class="mb-1">
        <a href="/favorites"
           class="fs-4 ms-3 btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">
          즐겨찾기 공연
        </a>
      </li>
      <li class="mb-1">
        <a href="/reviews"
           class="fs-4 ms-3 btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">
          나의 후기
        </a>
      </li>
    </ul>
  </div>

  <!--검색 필터-->
  <form th:action="@{'/reviews/' + ${reviews.number}}" role="form" method="get" th:object="${reviews}">
    <div class="d-flex justify-content-center mb-4 text-center flex-column" th:object="${searchDTO}">
      <div class="d-flex justify-content-center mb-2 mt-3">
        <!--검색 조건-->
        <select th:field="*{searchBy}" class="form-select me-2" style="width:auto;">
          <option value="">검색(전체)</option>
          <option value="prfnm">공연명</option>
          <option value="content">내용</option>
        </select>
      </div>

      <div class="d-flex justify-content-center">
        <input th:field="*{searchQuery}" class="form-control me-2" placeholder="공연명이나 내용을 입력해 주세요" style="width:auto;">
        <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
      </div>
    </div>

  <!--정렬-->
    <div class="text-center my-3" th:field="*{sort}">
      <button class="btn btn-secondary sortBtn" value="DEFAULT" data-sort="DEFAULT">전체</button>
      <button class="btn btn-secondary sortBtn" value="DATE_DESC" data-sort="DATE_DESC">최신순</button>
      <button class="btn btn-secondary sortBtn" value="DATE_ASC" data-sort="DATE_ASC">오래된순</button>
    </div>

    <!--공연 후기 리스트-->
    <div class="container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">공연이름</th>
          <th scope="col">평점</th>
          <th scope="col">내용</th>
          <th scope="col">작성일</th>
          <th scope="col">수정</th>
          <th scope="col">삭제</th>
        </tr>
        </thead>

        <!--      누르면 상세보기로 이동 구현하기-->
        <tbody>
        <th:block th:each="review, status : ${reviews}">
          <tr th:id="'review-' + ${review.getNum()}" th:attr="data-mt20id=${review.getShowing().getMt20id()}">
            <td scope="row">
              <a th:href="'/show/' + ${review.getShowing().getMt20id()}">[[${prfnmMap[review.getNum()]}]]</a>
            </td>
            <td>
              <div th:id="'rating-' + ${review.getNum()}">
              <span th:each="i : ${T(java.util.stream.IntStream).rangeClosed(1, 5).toArray()}"
                    th:if="${i <= review.getRating()}" style="color: gold;">★</span>
                <span th:each="i : ${T(java.util.stream.IntStream).rangeClosed(1, 5).toArray()}"
                      th:if="${i > review.getRating()}" style="color: lightgray;">★</span>
              </div>
            </td>
            <td th:id="'content-' + ${review.getNum()}" th:text="${review.getContent()}"></td>
            <td th:text="${review.getCreateDate()}"></td>
            <td>
              <button type="button" class="badge bi bi-pencil-square"
                      data-bs-toggle="collapse"
                      th:attr="data-bs-target='.multi-collapse-' + ${review.getNum()}">수정</button>
            </td>
            <td>
              <button type="button" class="badge bi bi-trash"
                      th:attr="data-id=${review.getNum()}" onclick="deleteReview(this)">삭제</button>
            </td>
          </tr>

          <!--후기 수정 폼-->
          <tr th:class="'collapse multi-collapse-' + ${review.getNum()}">
            <td colspan="6">
              <form class="well">
                <div class="form-group">
                  <div class="update-rating">
                    <input type="radio" th:name="'update-' + ${review.getNum()}" value="5" class="form-star"
                           th:id="'update-rate1-' + ${review.getNum()}" th:checked="${review.getRating() == 5}">
                    <label th:for="'update-rate1-' + ${review.getNum()}">★</label>

                    <input type="radio" th:name="'update-' + ${review.getNum()}" value="4" class="form-star"
                           th:id="'update-rate2-' + ${review.getNum()}" th:checked="${review.getRating() == 4}">
                    <label th:for="'update-rate2-' + ${review.getNum()}">★</label>

                    <input type="radio" th:name="'update-' + ${review.getNum()}" value="3" class="form-star"
                           th:id="'update-rate3-' + ${review.getNum()}" th:checked="${review.getRating() == 3}">
                    <label th:for="'update-rate3-' + ${review.getNum()}">★</label>

                    <input type="radio" th:name="'update-' + ${review.getNum()}" value="2" class="form-star"
                           th:id="'update-rate4-' + ${review.getNum()}" th:checked="${review.getRating() == 2}">
                    <label th:for="'update-rate4-' + ${review.getNum()}">★</label>

                    <input type="radio" th:name="'update-' + ${review.getNum()}" value="1" class="form-star"
                           th:id="'update-rate5-' + ${review.getNum()}" th:checked="${review.getRating() == 1}">
                    <label th:for="'update-rate5-' + ${review.getNum()}">★</label>
                  </div>
                  <textarea th:name="'update-content-' + ${review.getNum()}" th:id="'update-content-' + ${review.getNum()}"
                            class="form-control updateContent">[[${review.getContent()}]]</textarea>

                </div>
                <button type="button" id="update-btn" class="btn btn-outline-primary bi bi-pencil-square"
                        th:attr="data-id=${review.getNum()}" onclick="updateReview(this)">수정</button>
                <button type="button" class="btn btn-outline-primary bi bi-pencil-square"
                        th:attr="data-id=${review.getNum()}" onclick="resetUpdate(this)">취소</button>
              </form>
            </td>
          </tr>

        </th:block>
        </tbody>

      </table>
    </div>
    <hr>

    <!--페이징-->
    <div th:with="start=${(reviews.number / maxPage) * maxPage + 1},
              end=${(reviews.totalPages == 0) ? 1 :
              (start + (maxPage - 1) < reviews.totalPages ? start + (maxPage - 1) : reviews.totalPages)}">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${reviews.first} ? 'disabled'">
          <a class="page-link"
             th:href="@{/reviews/{page}(page=${reviews.number - 1}
                       ,searchBy=${searchDTO.searchBy}, searchQuery=${searchDTO.searchQuery}
                       , sort=${searchDTO.sort})}" aria-label="Previous">
            <span aria-hidden="true">이전</span>
          </a>
        </li>
        <li class="page-item" th:each="page : ${#numbers.sequence(start, end)}"
            th:classappend="${reviews.number eq page - 1} ? 'active' : ''">
          <a class="page-link"
             th:href="@{/reviews/{page}(page=${page - 1}
                       , searchBy=${searchDTO.searchBy}, searchQuery=${searchDTO.searchQuery}
                       , sort=${searchDTO.sort})}">
            [[${page}]]
          </a>
        </li>
        <li class="page-item" th:classappend="${reviews.last} ? 'disabled'">
          <a class="page-link"
             th:href="@{/reviews/{page}(page=${reviews.number + 1}
                       , searchBy=${searchDTO.searchBy}, searchQuery=${searchDTO.searchQuery}
                       , sort=${searchDTO.sort})}" aria-label="Next">
            <span aria-hidden="true">다음</span>
          </a>
        </li>
      </ul>
    </div>


  </form>

</div>


</html>